@model IEnumerable<Jack.FoodTracker.Entities.Food>

    @{
        ViewBag.Title = "Index";
    }
    
    
    <script src="../Scripts/foodList.js" type="text/javascript"></script>
    <script>$(document).ready(function () {
    foodlist_setEvents();
    foodlist_Init({searchUrl:"@(Url.Action("Search","Foods"))",getAllUrl:"@(Url.Action("GetAll","Foods"))"});
    });</script>
<div id="mainPageContent">
<h2>Enter Retrieval Criteria</h2>
<p>test one fine body</p>
    <div id="FoodItemTable">
    <table class="table">
        <tbody>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" id="searchName" /></td>
            </tr>

            <tr>
                <td><label>Desc</label></td>
                <td><input type="text" id="searchDesc" /></td>
            </tr>

            <tr>
                <td><label>Calories</label></td>
                <td><input class="number" type="text" id="searchCalories" /></td>
            </tr>

            <tr>
                <td><label>Sugar</label></td>
                <td><input class="number" type="text" id="searchSugar" /></td>
            </tr>

            <tr>
                <td><label>Fat</label></td>
                <td><input class="number" type="text" id="searchFat" />
            </tr>

            <tr>
                <td><label>Saturates</label></td>
                <td><input class="number" type="text" id="searchSaturates" /></td>
            </tr>

            <tr>
                <td><label>Salt</label></td>
                <td><input class="number" type="text" id="searchSalt" /></td>
            </tr>
        </tbody>


    </table>
    </div>
    <input type="button" class="btn btn-primary" value="Search" id="Search" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="FoodTable">
    @{Html.RenderPartial("FoodTable", Model);}
</div>
</div>
<div id="overlay">
    
</div>

